
<nav class="navbar navbar-expand-lg navbar-dark bg-primary " >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-8"></div>
    <app-lista-gaseosas></app-lista-gaseosas>
    <div class="col-4">Carrito</div>

  </div>
  

</div>


<footer class="navbar navbar-dark bg-primary">
  
  <span class="navbar-brand mb-0 h1">{{title}} ©</span>
  <span class="navbar-brand mb-0 h1">{{hora | date:'fullDate'}}</span>

</footer>