<table class="table">   <!-- esto se vincula con beer-list-component , comando  ng g c beer-list-->
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sabor</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Gaseosa of Gaseosas">
            <td>{{Gaseosa.nombre}}</td>
            <td>{{Gaseosa.sabor}}</td>
            <td>{{Gaseosa.precio | currency}}</td>
            <td><span *ngIf="Gaseosa.stock==0" >Sin Stock</span></td>
            <td><img [src]="Gaseosa.imagen" ></td>
          <!--   <td><img [src]= ></td>  Para poner imagen se usa [] en el src -->
        </tr>
    </tbody>
</table>
